.announcements h2 {
  padding-bottom: var(--title-padding);
  margin: 0 auto;
}
.announcements .carousel-item-active {
  background: var(--gradient-2);
}
.collab-card_inner {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3.5rem;
  padding: 3rem 9vw;
  box-sizing: border-box;
}

.collab-card_logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.ethdenver-banner {
  height: 35px;
  width: auto;
}

.collab-card_logos-divider {
  width: 12px;
  height: 3px;
  border-radius: 50%;
  background: white;
}

.collab-card_content {
  height: 100%;
  align-self: end;
  max-width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.collab-card_content p {
  line-height: 140%;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 48.75rem) {
  .collab-card_logos img {
    height: 35px;
    width: auto;
  }
}

@media only screen and (max-width: 41.8rem) {
  .collab-card_inner {
    padding: 2.5rem 3vw;
  }
}

@media only screen and (max-width: 28rem) {
  .collab-card_content p {
    font-size: var(--font-xs);
    max-width: 100%;
  }
  .ethdenver-banner {
    height: 27px;
    width: auto;
  }
  .collab-card .primary-btn {
    padding: 0.6em 1em;
  }
}