.roadmap h2 {
  margin: 0 auto;
  padding-bottom: var(--title-padding);
}

.roadmap-content {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.roadmap-content svg {
  max-width: 100%;
  height: auto;
}

.text-1 {
  position: absolute;
  left: 7%;
  top: 32%;
  opacity: 0;
}
.text-2 {
  position: absolute;
  left: 57%;
  top: 0%;
  opacity: 0;
}
.text-3 {
  position: absolute;
  right: 6%;
  top: 65%;
  line-height: 1.25;
  opacity: 0;
}
.text-4 {
  position: absolute;
  right: 53%;
  top: 63%;
  line-height: 1.2;
  opacity: 0;
}

/* vertical timeline */
@media only screen and (max-width: 47rem) {
  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    position: static;
    opacity: 1;
  }
}
.vertical-timeline {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.vertical-timeline-items {
  padding-top: 1rem;
}
.vertical-timeline-items > p:first-child {
  height: 8.5rem;
}
.vertical-timeline-items > p:nth-child(2) {
  height: 8.5rem;
}
.vertical-timeline-items > p:nth-child(3) {
  height: 12rem;
}