.hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 7%;
  height: 100vh;
  position: relative;
  width: 100%;
}

.lottieContainer {
  width: 380px;
  height: 380px;
  max-width: 100%;
  z-index: 1;
}

h1 {
  color: transparent;
  z-index: 1;
  position: relative;
}

.gradient-1 {
  background: var(--gradient-1);
}
.gradient-2 {
  background: var(--gradient-2);
}
.gradient-3 {
  background: var(--gradient-3);
}
.hero-gradient {
	background-clip: text;
}

.second-hero-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-build {
  color: var(--main-light-color);
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.hero-bg g {
  cursor: pointer;
  transition: all 0.5s ease-out;
  z-index: 10;
}
.hero-bg g:hover {
  filter: blur(4px) !important;
}

@media only screen and (max-width: 80rem) {
  .lottieContainer {
    width: 310px;
    height: 310px;
  }
}
@media only screen and (max-width: 62.5rem) {
  .hero-inner {
    flex-direction: column;
    gap: 1.8rem;
  }
  .lottieContainer { 
    max-width: 80%;
  }
  h1 {
    text-align: center;
  }
  .second-hero-text {
    left: 0;
  }
  
}