/* style overrides */
#mc_embed_signup {
  background: var(--dark-bg-color);
  color: white;
  clear: left;
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

#mc_embed_signup form {
  margin: 1.5rem 3.5rem;
}
#mc_embed_signup .mc-field-group {
  width: 100%;
}

#mc_embed_signup input,
#mc_embed_signup input:focus,
input:-internal-autofill-selected {
  border: 1px solid var(--green-color);
  outline: none;
  background-color: var(--dark-bg-color);
  color: white;
}

#mc_embed_signup .helper_text {
  background-color: var(--dark-bg-color);
  color: var(--green-color);
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  background-color: var(--dark-bg-color);
}

#mc_embed_signup .button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  height: unset;
  background: var(--gradient-3);
  color: var(--dark-bg-color);
  font-weight: 600;
  width: 100%;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

#mc_embed_signup .button:hover,
#mc_embed_signup .button:active,
#mc_embed_signup .button:focus,
.cta-btn:hover,
.cta-btn:active {
  opacity: 0.7;
  border: none;
}

/* signup page */
.signup-page #mc_embed_signup,
.signup-page #mc_embed_signup .helper_text {
  background: none;
}
.signup-page #mc_embed_signup {
  backdrop-filter: blur(5px);
  min-width: 45vw;
}
.signup-page #mc_embed_signup h2 {
  margin: 15px auto 5vh auto;
  text-align: center;
}