.team h2 {
  margin: 0 auto;
  padding-bottom: var(--title-padding);
}

.team-members {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  transition: all 0.4s ease-out;
  padding-bottom: 2.25rem;
}

.member-card:hover {
  transform: scale(0.9);
  opacity: 0.8;
}

.member-avatar {
  height: 151px;
  width: 151px;
  border-radius: 50%;
}

.member-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: -0.023em;
}

@media only screen and (max-width: 63rem) {
  .member-avatar {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 35rem) {
  .member-avatar {
    width: 75px;
    height: 75px;
  }
  .member-name p {
    font-size: 0.8rem;
  }
}