.team h2 {
  margin: 0 auto;
  padding-bottom: var(--title-padding);
}

.team-members {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.member-card {
  display: flex;
  height: 151px;
  transition: all 0.4s ease-out;
}

.member-card:hover {
  transform: scale(0.9);
  opacity: 0.8;
}

.member-avatar {
  height: 151px;
  width: 151px;
}

.member-name {
  width: 151px;
  height: 151px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--dark-bg-color);
  font-weight: 700;
  letter-spacing: -0.023em;
}

@media only screen and (max-width: 63rem) {
  .member-avatar,
  .member-name {
    width: 100px;
    height: 100px;
  }
  .member-card {
    height: 100px;
  }
  .member-name svg {
    display: none;
  }
}
@media only screen and (max-width: 35rem) {
  .member-avatar,
  .member-name {
    width: 55px;
    height: 55px;
  }
  .member-name p {
    font-size: 0.8rem;
  }
  .member-card {
    height: 55px;
  }
}