@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #11232f;
  --surface: #1b374a;
  --secondary-surface: #101418;
  --forms: #11232f;
  --around-forms: #5c7d93;
  --primary: #e54de5;
  --secondary: #16dbbe;
  --tertiary: #ffc900;
  --positive: #46ffc8;
  --tentative: #ffd464;
  --destructive: #ff4444;
  --on-surface: #fff1e2;
  --on-primary: #1c2a33;
  --on-positive: #1c2a33;
  --on-destructive: #fff1e2;
  --on-secondary: #1c2a33;
  --on-surface-secondary: #bfcacd;
  --on-surface-tertiary: #92bcd8;
  --on-forms: #fff1e2;
  --surface-gradient: linear-gradient(
    166deg,
    rgba(33, 54, 69, 1) 0%,
    rgba(28, 42, 51, 1) 100%
  );
  --gradient-card: linear-gradient(180deg, #213645 0%, rgb(17, 35, 47) 100%);
  --purple: #616cec;
  --on-surface-tertiary: #92bcd8;
  --dark-blue: #14232e;
  --tertiary-surface: #182d3c;
  --light-blue: #92bcd8;
  --mid-blue: #5b9ac4;
  --light-cream: #fff1e2;
  --mid-green: #1cdcbf;
  --destructive-secondary: #fa876d;
}

@layer components {
  .section-eyebrow {
    @apply text-xs font-medium tracking-widest uppercase;
  }
  .gradient {
    @apply bg-gradient-to-r from-primary via-secondary to-tertiary;
  }
  .section-title {
    @apply font-heading font-extrabold text-lg sm:text-2xl text-on-surface tracking-wider	uppercase;
  }
  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-primary via-secondary to-tertiary;
  }
  .padding {
    @apply px-40;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--on-surface);
  margin: 0;
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
:focus-visible {
  outline: none;
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari, and Edge */
  -webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
  cursor: pointer;
}

p {
  color: var(--on-surface);
}
