.testimonials {
  overflow-x: hidden;
  margin: 7rem auto;
}
.carousel-container {
  /* background-color: green; */
  /* display: flex; */
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 1.8rem;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
  margin-bottom: 1.5rem;
}

.carousel-item:last-child {
  padding-right: 1.8rem;
}
.carousel-item {
  background-color: var(--dark-card-bg);
  opacity: 0.5;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
  /* height: 15rem; */
  width: 60vw;
  transition: all 0.3s ease-out;
  padding: 3rem 3.5rem;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.carousel-item-active {
  opacity: 1;
  background: linear-gradient(0deg, #213645 -0.13%, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, #E54DE5 0%, #FFC800 100%);
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.testimonial-content {
  line-height: 150%;
  padding-top: 1.25rem;
}

.testimonial-side {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.testimonial-side img {
  border-radius: 50%;
}
.testimonial-side p {
  line-height: 1.3;
}

@media only screen and (max-width: 53rem) {
  .carousel-item {
    padding: 2.25rem 1.5rem;
  }
  p.testimonial-content {
    font-size: 1.2rem;
  }
  .testimonial-logo {
    max-width: 40%;
    height: auto;
  }
}

@media only screen and (max-width: 35rem) {
  .carousel-item {
    padding: 2.4rem 2rem;
  }
  p.testimonial-content {
    font-size: 0.9rem;
  }
}

/* full screen cards */
@media only screen and (max-width: 31.25rem) {
  .carousel-item {
    width: 100vw;
  }
  .carousel-container {
    gap: 0;
  }
}

@media only screen and (max-width: 22rem) {
  .carousel-item {
    padding: 1.5rem 1.2rem;
  }
  p.testimonial-content {
    font-size: 0.8rem;
  }
}