.primary-btn {
  background: transparent;
  border: 1px solid var(--main-light-color);
  border-radius: 8px;
  padding: 0.6em 2em;
  color: var(--main-light-color);
  transition: all 0.4s ease-out;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}
.primary-btn.small {
  font-size: var(--font-xxs);
  padding: 0.4em 0.9em;
}

.primary-btn:hover {
  color: var(--dark-bg-color);
  background-color: var(--main-light-color);
}