.switch-img-container {
  position: relative;
  margin: 0 auto;
  height: 0;
  padding-bottom: min(48%, 345px); /*img height */
  max-width: 600px; /* img width */
  width: 85%;
  margin: min(20%, 150px) 7% 0 4%;
}

.switch-img-container img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease-out;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

img.move-to-selected {
  transform: translate(0%, 0%);
  filter: blur(0px);
  z-index: 3;
}
img.move-to-back {
  transform: translate(65%, -55%);
  width: 400px;
  filter: blur(1px);
  max-width: 68%;
  z-index: 2;
}
img.move-to-back-back {
  transform: translate(-7%, -65%);
  width: 380px;
  filter: blur(1px);
  max-width: 65%; /* responsive */
  z-index: 1;
}